@use '../../../ui/_mixins.scss' as mixins;

.input {
  flex-grow: 1;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  transition: box-shadow 1s;

  transition: all 0.2s linear;
}

.inputError {
  outline-color: var(--error);

  &:hover {
    outline-color: var(--error);
  }
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mixins.bp(md) {
    flex-direction: row;
  }
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  transition: box-shadow 1s;
  display: flex;
  justify-content: center;
  transition: all 0.3s linear;
}

.buttonHideText {
  color: transparent;
}

.spinner {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border: 3px solid var(--lightest);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error_container {
  min-height: 3rem;
  margin: 1rem;
}

.error {
  text-align: center;
  color: var(--error);
}
