@use "@/ui/_variables.scss" as var;

.button {
  cursor: pointer;
  width: 2rem;
  display: inline-block;
  height: 20px;
  transition: all 0.3s ease;

  color: var.color(lighter);

  &:hover {
    color: var.color(light);
  }
}
