@use "@/ui/_variables.scss" as var;

.button {
  cursor: pointer;
  
  border-radius: 5px;
  padding: 2px 2px 0px 2px;
  margin: 0 0.5rem;
  border: none;

  color: var.color(lighter);
  background: transparent;

  transition: all 0.3s ease;
  
  &:hover {
    color: var.color(light);
  }
}