@use "@/ui/_variables.scss" as var;

@mixin button {
  cursor: pointer;
  font-size: 0.9rem;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;

  color: var.color(lighter);
  background-color: var.color(middle-dark);
  outline: 1px solid var.color(middle);
  box-shadow: 0 0 35px 20px var.color(dark);

  transition: all 0.3s;

  &:hover {
    color: var.color(lightest);
    outline: 1px solid var.color(middle-light);
    box-shadow: 0 0 30px 5px var.color(middle);
  }

  &:active {
    background-color: var.color(middle-light);
    outline: 1px solid var.color(light);
    box-shadow: 0 0 30px 5px var.color(middle-light);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;

    &:active,
    &:hover {
      color: var.color(lighter);
      background-color: var.color(middle-dark);
      outline: 1px solid var.color(middle);
      box-shadow: 0 0 35px 20px var.color(dark);
    }
  }
}

@mixin input {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 15px;

  color: var.color(lighter);
  background-color: var.color(dark);
  outline: 1px solid var.color(middle);
  box-shadow: 0 0 35px 20px var.color(dark);
  
  transition: all 0.3s;
  
  &:hover {
    outline: 1px solid var.color(middle-light);
    box-shadow: 0 0 30px 5px var.color(middle);
  }
  
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
}
