@use "sass:map";

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

@function bp-value($key) {
  @return map.get($breakpoints, $key);
}

/* Mixin para media queries por nombre de breakpoint */
@mixin bp($key) {
  $val: bp-value($key);
  @media (min-width: $val) {
    @content;
  }
}
