@use "sass:map";
@use "@/ui/_variables.scss" as variables;

/* Mixin para media queries por nombre de breakpoint */
@mixin breakpoint($breakpoin-name) {
  @media (min-width: map.get(variables.$breakpoints, $breakpoin-name)) {
    @content;
  }
}
