@use "@/ui/_variables.scss" as var;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var.color(darker);
  background-image: linear-gradient(165deg, var.color(middle), var.color(darkest), var.color(darker));
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var.color(lightest);
  min-height: 100vh;
}

main {
  padding: calc(2rem + var.size(navbar-height)) 0 2rem 0;
  min-height: calc(100vh - var.size(footer-height));
  display: flex;
  width: var.size(percentage-width);
  max-width: var.size(max-width);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

input,
button {
  background-color: transparent;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: var.color(lighter);
  box-shadow: 0 0 35px 20px var.color(dark);
  background-color: var.color(dark);
  outline: 1px solid var.color(middle);
  transition: all 0.3s;
}

button {
  color: var.color(lighter);
  background-color: var.color(middle-dark);
}

button:hover {
  outline: 1px solid var.color(middle-light);
  cursor: pointer;
}

input:hover,
button:hover {
  box-shadow: 0 0 30px 5px var.color(middle);
  outline: 1px solid var.color(middle-light);
}

button:active,
button:target {
  outline: 1px solid var.color(light);
  box-shadow: 0 0 30px 5px var.color(middle-light);
  background-color: var.color(middle-light);
  color: var.color(lighterst);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;

  &:active {
    color: var.color(lighter);
    background-color: var.color(middle-dark);
  }
}

a {
  text-decoration: none;
  word-break: break-all;
  color: var.color(lightest);
  transition: color 0.2s ease;

  &:hover {
    color: var.color(light);
  }
}

*:focus-visible,
input:focus {
  outline: 1px solid var.color(light);
}
