@use "@/ui/_variables.scss" as var;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var.color(darker);
  background-image: linear-gradient(
    165deg,
    var.color(middle),
    var.color(darkest),
    var.color(darker)
  );
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var.color(lightest);
  min-height: 100vh;
}

main {
  padding: calc(2rem + var.size(navbar-height)) 0 2rem 0;
  min-height: calc(100vh - var.size(footer-height));
  display: flex;
  width: var.size(percentage-width);
  max-width: var.size(max-width);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  word-break: break-all;
  color: var.color(lightest);
  transition: color 0.2s ease;

  &:hover {
    color: var.color(light);
  }
}

*:focus-visible {
  outline: 1px solid var.color(light);
}