@use "@/ui/_variables.scss" as var;
@use "@/ui/_basics.scss" as basics;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 100;
  color: var.color(lightest);
  text-align: center;
}

.message {
  text-align: center;
  text-wrap: balance;
  font-size: 1.2rem;
  color: var.color(lighter);

  * {
    margin: 0.5rem 0;
  }
}

.link {
  border-radius: 15px;
  margin: 2rem;
}

.button {
  @include basics.button;
}
