@use "@/ui/_variables.scss" as var;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  animation: fade 0.5s ease-out forwards;
}

.spinner {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 3px solid var.color(lightest);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin  0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
