.footer {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(90, 78, 255, 0.2);
  color: var(--light);
  height: var(--footer-height);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  
  a {
    transition: all 0.3s ease;
    color: var(--lighter);

    &:hover {
      color: var(--lightest);
      filter: drop-shadow(0 0 10px var(--middle-light));
    }
  }
}
