@use "@/ui/_mixins.scss" as mixins;
@use "@/ui/_variables.scss" as var;

.container {
  display: flex;
  flex-direction: column;
  max-width: var.size(max-width);
  width: 100%;
  gap: 2rem;
}

.card {
  box-shadow: 0 0 30px 5px var.color(middle);
  outline: 1px solid var.color(middle-light);
  border-radius: 15px;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.url_container {
  flex-direction: column;
  gap: 2rem;
  text-wrap: balance;
  padding-bottom: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 2.2rem;
  color: var.color(lighter);

  @include mixins.breakpoint(sm) {
    font-size: 1rem;
  }
}

.url_container_a {
  font-size: 1rem;

  @include mixins.breakpoint(sm) {
    font-size: 1.2rem;
  }

  @include mixins.breakpoint(md) {
    font-size: 1.4rem;
  }
}

.original_url {
  @include mixins.breakpoint(md) {
    text-align: left;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.8rem;
  color: var.color(lighter);
}

.original_url_a {
  font-size: 0.8rem;
  color: var.color(lighter);

  &:hover {
    color: var.color(light);
  }
}

.button_link {
  border-radius: 15px;

  @include mixins.breakpoint(md) {
    align-self: flex-end;
  }
}

.button {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.75rem 1.5rem;

  &:hover {
    color: var.color(lightest);
  }
}
