@use "@/ui/_mixins.scss" as mixins;
@use "@/ui/_variables.scss" as var;

.container {
  display: flex;
  flex-direction: column;
  max-width: var.size(max-width);
  width: 100%;
  gap: 2rem;
}

.card {
  box-shadow: 0 0 30px 5px var.color(middle);
  outline: 1px solid var.color(middle-light);
  border-radius: 15px;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.url_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-wrap: balance;

  @include mixins.breakpoint(md) {
    flex-direction: row;
    & > div {
      flex-grow: 1;
    }
  }
}

.label {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 2.2rem;
  color: var.color(lighter);
}

.noData {
  font-size: 1.2rem;
  color: var.color(lighter);
}

.link {
  border-radius: 15px;

  @include mixins.breakpoint(md) {
    align-self: flex-end;
  }
}

.button {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.75rem 1.5rem;

  &:hover {
    color: var.color(lightest);
  }
}
