.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(165deg, var(--middle), var(--darkest), var(--darker));
}

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  padding: 10%;
  gap: 4rem;
}

