@use "../../../../ui/_mixins.scss" as mixins;

.details {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s linear;
  
  animation: growIn 0.3s ease-out forwards;
  overflow: hidden;
  
  @include mixins.bp(md) {
    flex-direction: row;
    padding-top: 2rem;
    border-top: 1px solid var(--middle-dark);
    gap: 3rem;
  }
}

.thumbnail {
  max-width: 400px;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;

    @include mixins.bp(md) {
      width: 300px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  @include mixins.bp(md) {
    align-items: flex-start;

    p,
    h2 {
      text-align: left;
    }
  }
}

.title {
  font-size: 1rem;
  font-weight: normal;
}

.description {
  font-size: 0.8rem;
  color: var(--lighter);
  text-align: center;
}

@keyframes growIn {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 500px;
    opacity: 1;
  }
}
