@use "@/ui/_variables.scss" as var;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var.size(navbar-height);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(90, 78, 255, 0.2);
  z-index: 1;
}

.container {
  width: var.size(percentage-width);
  max-width: var.size(max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.navbar nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar nav li {
  list-style: none;
}

.navbar a {
  color: var.color(lighter);
  transition: all 0.3s ease;

  &:hover {
    color: var.color(lightest);
    filter: drop-shadow(0 0 5px var.color(light));
  }
}
